<!-- konta/templates/konta/password_change_form.html -->
{% extends "konta/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Zmiana hasła</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Zmień hasło</button>
        </div>
    </form>
</div>
{% endblock content %}